<li><img src="{{'vogue.png' | asset_url}}" alt="Vogue"/></li>
<li><img src="{{'simple.png' | asset_url}}" alt="Real Simple" /></li>
<li><img src="{{'shefinds-_logo.png' | asset_url}}" alt="She Finds"/></li> 
<li><img src="{{'maxim.png' | asset_url}}" alt="Maxim"/></li> 
