<li><img src="{{'BuzzFeed.png' | asset_url}}" alt="BuzzFeed"/></li>
<li><img src="{{'golfdigest.png' | asset_url}}" alt="Golf Digest" /></li>
<li><img src="{{'maxim.png' | asset_url}}" alt="Maxim"/></li> 
<li><img src="{{'vogue.png' | asset_url}}" alt="Vogue"/></li>
