<div class="modal" id="newsletter_popup2" style="display:none;">
  <div class="background-lightgray tac">
  <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
    <input type="hidden" name="g" value="Ai9wnf">
    <div class="flex-container-no hide_on_submit">
      <div class="third">
      </div>
      <div class="two-thirds accent-padding">
        <p class="nm klaviyo_header_close tar clickable text-white">✕</p>
        <div class="accent-padding border-white">
          <h3 class="text-green nm">first order</h3>
          <h2 class="nm">discount</h2>
        </div>
        <p><span class="text-green">Enter your information to instantly unlock a new customer coupon.</span></p>
        <input type="email" id="newsletter_popup_$email" class="newsletter_email" name="email">
        <div class="klaviyo_form_actions">
          <button type="submit" class="klaviyo_submit_button"><span>let's go!</span></button> 
        </div>
        <p class="text-green">We give away <b>FREE</b> shoes every week so be sure to follow us on social for your chance to win!</p>
      </div>
    </div>
   </form>
    <div class="success_message"></div> 
  </div>
</div> 
 
<script>
$(document).ready(function(){ 
 setTimeout(function() {
  if ($('.klaviyo_modal:visible').length == 0) {
     KlaviyoSubscribe.attachToModalForm('#newsletter_popup2', {
    delay_seconds: 0,
    success_message: "<div class='success_feedback accent-padding'><div class='accent-padding border-white'><h2>Thank you!</h2><h3>Use the discount code below to receive<br>15% off your first order!</h3></div><h2 class='text-green'>WELCOME15</h2></div>",
     success: function ($form) {
      ga('send', 'event', 'Acquisition', 'Pop Up', 'Website');
      $form.find('.hide_on_submit').hide();
    },
  }); 
  };
  }, 5000);
}); 

</script>

{% comment %} Exit Intent {% endcomment %}
<div class="modal" id="exit_offer" style="display:none;">
  <div class="background-lightgray accent-padding tac exitpop">
  <p class="tar nm klaviyo_header_close clickable text-white">✕</p>
   <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
    <input type="hidden" name="g" value="PUyKK8"> 
    <div class="hide_on_submit">
      <h1 class="accent-padding border-white nm">Wait!</h1> 
      <p class="text-green">Get 10% off your first $30 order.<br> You'll also receive <b>exclusive discounts</b> directly to your email!</p>
      <div class="klaviyo_fieldset hide_on_submit">
      <div class="klaviyo_field_group">
        <input type="email" id="newsletter_popup_$email" name="email"></div>
      </div> 
      <div class="klaviyo_form_actions hide_on_submit">
        <button type="submit" class="klaviyo_submit_button"><span>Get my discount!</span></button>
      </div>
    </div>
   </form>
   <div class="success_message" ></div>
   <div class="error_message ib" style="margin-top: -20px;"></div>
  </div>
</div>

<script>
$(document).ready(function(){
  var executed = false 
  if (!sessionStorage.exitAttempted) {
   $(document).on('mouseleave', leaveFromTop);
      function leaveFromTop(e){
        if ($('.klaviyo_modal:visible').length == 0 && (e.clientY < 0 ) && (!executed)){
            KlaviyoSubscribe.attachToModalForm('#exit_offer', {
              success_message: "<div class='success_feedback accent-padding'><div class='accent-padding border-white'><h2>Thank you!</h2><h3>Use the discount code below to receive 10% off your first order over $30 USD</h3><h2 class='text-green'>GEKKS10</h2></div>",
              ignore_cookie: true, 
              delay_seconds: 0.1,
              success: function ($form) {
              $form.find('.hide_on_submit').hide();
              ga('send', 'event', 'Acquisition', 'Exit Offer', 'Website');
              },
            }); 
            executed = true 
            sessionStorage.exitAttempted = 1          
      };
    };
  };
});
</script>


