

 <div class="modal modal-newsletter" id="newsletter_popup3" style="display:none;">
  <div class="background-green tac flex-container-no fdc" id="container-news">
    <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
      <input type="hidden" name="g" value="Ai9wnf">
      <p class="nmt klaviyo_header_close tac text-white clickable" style="font-size: 13pt;"><span>✕</span></p>
      <p class="hide_on_submit text-white nmt">Enter your information to instantly<br> unlock a discount for 15% Off</p>  
      <h1 class="text-white nm hide_on_submit">15% Off!</h1>
      <p class="nmt"></p>
      <input type="email" id="newsletter_popup_$email" class="newsletter_email hide_on_submit" name="email">
      <div class="klaviyo_form_actions hide_on_submit">
        <button type="submit" class="klaviyo_submit_button border-white"><span>let's go!</span></button> 
      </div>
      <p class="text-white hide_on_submit">Stay in the know with <b>exclusive deals</b></p>
      <div class="error_message subscript" style="display: none;"></div> 
    </form>
    <div class="success_message"></div>
  </div>
</div>  

<script>
$(document).ready(function(){ 
  var flowFinish = readCookie('flowFinish')
  var gekksVisit = readCookie('gekksVisit')
  var newsletterModal = readCookie('newsletterModal')
  if ((flowFinish) && (gekksVisit) && !(newsletterModal) && $('.mobile-nav1:visible').length == 0){
    setTimeout(function(){
      $('.modal').removeClass('darken')
      if ($('.modal:visible').length == 0) {
        KlaviyoSubscribe.attachToModalForm('.modal-newsletter', {
          delay_seconds: 0,
          ignore_cookie: true,
          success_message: "<div class='success_feedback accent-padding'><div class='accent-padding'><h2 class='nm'>Thank you!</h2><h3>You've unlocked 15% off <br> on orders $40+</h3><p class='tac'>Use code 'Welcome15'</p></div></div>",
     success: function ($form) {
          createCookie("emailSignUp", "popup", 14)
            $('#container-news').css("background-image", "none"); 
      $('#success-close').show();
      ga('send', 'event', 'Acquisition', 'Pop Up', 'Website');
      $form.find('.hide_on_submit').hide();
    },
  });  
  };
    createCookie("newsletterModal", "Displayed", 5)
    $('.index-sections, main, header, footer, #banner-cta, .mobile-nav1').addClass('darken')
   }, 3000); 
  }
}); 


</script>

{% comment %} Exit Intent {% endcomment %}
<div class="modal" id="exit_offer" style="display:none;">
  <div class="background-lightgray accent-padding tac exitpop">
  <p class="tar nmt klaviyo_header_close clickable">✕</p>
   <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
    <input type="hidden" name="g" value="PUyKK8"> 
    <div class="hide_on_submit">
      <h1 class="accent-padding border-white nm">Wait!</h1> 
      <p class="text-green">Get 10% off your first $30 order.<br> You'll also receive <b>exclusive discounts</b> directly to your email!</p>
      <div class="klaviyo_fieldset hide_on_submit">
      <div class="klaviyo_field_group">
        <input type="email" id="newsletter_popup_$email" name="email"></div>
      </div> 
      <div class="klaviyo_form_actions hide_on_submit">
        <button type="submit" class="klaviyo_submit_button"><span>Get my discount!</span></button>
      </div>
    </div>
   <p class="error_message subscript tac" style="display: none;"></p>
   </form>
   <div class="success_message" ></div>
  </div>
</div>

<script>
$(document).ready(function(){
  var executed = false 
  if (!sessionStorage.exitAttempted) {
   $(document).on('mouseleave', leaveFromTop);
      function leaveFromTop(e){
        if ($('.modal:visible').length == 0 && (e.clientY < 0 ) && (!executed) && $('.mobile-nav1:visible').length == 0) {
          console.log($('.mobile-nav1:visible').length)

            $('.modal').removeClass('darken')
            KlaviyoSubscribe.attachToModalForm('#exit_offer', {
              success_message: "<div class='success_feedback accent-padding'><div class='accent-padding border-white'><h2>Thank you!</h2><h3>Use the discount code below to receive 10% off your first order over $30 USD</h3><h2 class='text-green'>GEKKS10</h2></div>",
              ignore_cookie: true, 
              delay_seconds: 0.1,
              success: function ($form) {
                          createCookie("emailSignUp", "exit", 14)

              $form.find('.hide_on_submit').hide();
              ga('send', 'event', 'Acquisition', 'Exit Offer', 'Website');
              },
            }); 
            executed = true 
            sessionStorage.exitAttempted = 1    
                $('.index-sections, main, header, footer, #banner-cta, .mobile-nav1').addClass('darken')
      
      }; 
    };
  };
});
</script>


