<style>
  .postpurchase {
    min-width: 320px; 
    width: 80%; 
    height: fit-content; 
    padding: 20px; 
    box-sizing: border-box; 
    background: #fff; 
    margin: 0 auto; 
  } 
  .close { text-align: right; } 
  
  .postpurchase h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px;
  }

  .postpurchase li {
    border: 5px solid #33ffcc;
    box-shadow: 3px 3px lightgray;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
.referral-selected {
    opacity: 0.3;
    cursor: default !important;
    background: lightgray;
    border: 5px solid lightgray !important;
    box-shadow: none !important;
}
</style>

<div class="postpurchase" style="display: none;">
  <div class="close" style="cursor:pointer;" onclick=" ga('send', 'event', 'Referral Source', 'Closed', clickCount)">✕</div>
  <h2>How Did You <br> Hear About Us?</h2>
  <ul>
    <li id="Facebook" onclick="ga('send', 'event', 'Referral Source', 'Facebook', clickCount);
"><p>Facebook</p></li>
    <li id="Instagram" onclick="ga('send', 'event', 'Referral Source', 'Instagram', clickCount);
"><p>Instagram</p></li>
    <li id="Snapchat"onclick="ga('send', 'event', 'Referral Source', 'Snapchat', clickCount);"><p>Snapchat</p></li>
    <li id="Pinterest"onclick="ga('send', 'event', 'Referral Source', 'Pinterest', clickCount);"><p>Pinterest</p></li>
    <li id="Podcast"onclick="ga('send', 'event', 'Referral Source', 'Podcast', clickCount);"><p>Podcast</p></li>
    <li id="Friend"onclick="ga('send', 'event', 'Referral Source', 'Friend', clickCount);"><p>Friend</p></li>
    <li id="Other" onclick="ga('send', 'event', 'Referral Source', 'Other', clickCount);
"><p>Other</p></li>
  </ul>
</div>
 <script>
   var clickCount = 0 
  $('.postpurchase li').click(function() {
    clickCount += 1 
	$(this).addClass('referral-selected'); 
  }); 
  $('.close').click(function(){
    $('.postpurchase').hide(); 
  }); 
</script>
