<!-- <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script> -->
  
<script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup', {
      hide_form_on_success: true, 
      success_message: "<div class='success_feedback'><div class='accent-padding border-white'><h2>Thank you!</h2><h3>Your discount code is on the way!</h3></div>",   
      success: function ($form) {
         $form.find('.hide_on_submit').hide();
      },  });
  KlaviyoSubscribe.attachToForms('#email_signup-desktop', {
      hide_form_on_success: true, 
      success_message: "<div class='success_feedback'><div class='accent-padding border-white'><h2>Thank you!</h2><h3>Your friend will receive their code shortly. In the <br>meantime, here is yours!</h3></div><h2 class='text-green'>GKK82030</h2></div>",       
      success: function ($form) {
         $form.find('.hide_on_submit').hide();
      },
  });
</script>

<div class="modal" id="k_id_modal" style="display:none;">
  <div class="background-lightgray accent-padding tac">
    <p class="tar nm klaviyo_header_close clickable text-white">✕</p>
    <form id="email_signup" class="klaviyo_bare_embed_MfRBWZ hide_on_submit" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <input type="hidden" name="g" value="MfRBWZ">
      <h3 class="tac text-green nmt">refer a friend</h3>
      <h2 class="hide_on_submit accent-padding border-white nm">Give $5 <br> Get $5</h2>
      <p class="hide_on_submit tac text-green">give a friend $5 off their first order,<br> and you'll get $5 off your next order directly to <br>your inbox.</p>
      <a class="hide_on_submit" href="sms:?body=5%20dollars%20off%20at%20Gekks%20Use%20Coupon%20Code%20GKK82057%20at%20www.mygekks.com" id="textfriend" onclick="ga('send', 'event', 'Refer', 'Mobile', 'Text');">
        <div id="text-friend clickable"><h3>click to text a friend</h3></div>
      </a> 
      <input class="hide_on_submit" type="email" value="" name="email" id="k_id_email" />
       <div class="klaviyo_form_actions">
          <button type="submit" class="klaviyo_submit_button">
            <span id="submit-span">Submit</span>
          </button>
      </div>
    <p id="nophone" style="display: none;">please text a friend before submitting</p>
    <div class="success_message" ></div>
           <p class="error_message subscript tac" style="display: none;"></p>
  </div>
</div>

        <div class="klaviyo_form_actions">
  
        </div>
        <div class="klaviyo_below_submit"></div>

      </form>

    </div>
  </div>

{% comment %}Desktop{% endcomment %}
  <div id="desktop_refer_k" class="modal" style="display:none;">
    <div class="background-lightgray accent-padding tac">
    <p class="tar nm klaviyo_header_close clickable text-white">✕</p>
     <form id="email_signup-desktop" class="klaviyo_standard_embed_Qs4S7M " action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
     <input type="hidden" name="g" value="Qs4S7M">
     <div class="hide_on_submit">
        <h3 class="tac text-green nmt">refer a friend</h3>
        <h2 class="accent-padding border-white nm">Give $5 <br> Get $5</h2>
        <p class="text-green">Give a friend $5 off their first order, <br>and you'll get $5 off your next order! <br> Enter <b>your friend's</b> email below. </p>
        <input type="email" value="" name="email" id="k_id_email" class="background-white"/>
        <div class="klaviyo_form_actions">
            <button type="submit" class="klaviyo_submit_button">
              <span id="submit-span">Submit</span>
            </button>
        </div>
      </div>
         <p class="error_message subscript tac" style="display: none;"></p>

      </form>
      <div class="success_message subscript" ></div>
    </div>
  </div>

<script>
  $(document).ready(function(){
    if ( !navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ) return;
    jQuery('#textfriend').attr('href', function() {
      return jQuery(this).attr('href').replace(/sms:(\+?([0-9]*))?\?/, 'sms:$1&');
    });
  })
  var text = 0 
  $('#textfriend').click(function() {
    text = 1 
    $('#nophone').hide();

  }); 
  $('#k_id_modal .klaviyo_submit_button ').click(function(){
    if (text < 1) { 
      event.preventDefault();
      $('#nophone').show();
    }
  });
    $('.klaviyo_header_close').on('click', function() {
      $(this).parent().parent().hide();
      $('.modal').hide();
    });
</script>