<style>
  .half { width: 50%; }
  @media only screen and (max-width: 588px) {
    #care-instructions .half { height: 300px; }
  }
</style>
<main id="care-instructions">	     
  <section class="background-green tac page-header">
    <h1 class="text-white nmb">Give  Gekks Love</h1>
    <h2 class="nmt">How to Care for your Gekks</h2>
  </section>
    <section class="flex-container-no">
      <div class="half flex-container-no index-padding">
        <div>
          <div class="title-border"></div>
          <h2>Refresh your Gekks</h2>
          <p>Did you know you can refresh your Gekks by simply rubbing hand sanitizer on the adhesive on your Gekks? Make sure you scrub hard and let them completely dry!</p>
        </div> 
      </div>
      <div class="half background-beige" id="refresh">
      </div>
    </section>
    <section class="flex-container-no">
      <div class="half background-beige" id="complete">
      </div>
      <div class="half flex-container-no index-padding">
        <div>
          <div class="title-border"></div>
          <h2><span class="ttu">Complete</span> refresh</h2>
          <p>Gekks are designed with another layer of silicone adhesive. All you need to do is peel back the old layer from the tab location on each stick pad.</p>
        </div>
      </div>  
    </section>
    <section class="flex-container-no">
       <div class="half flex-container-no index-padding">
        <div> 
          <div class="title-border"></div>
          <h2>Washing your Gekks</h2>
          <p>Gekks are packed with an antimicrobial odor eliminating yarn so you do not need to wash your Gekks after each wearing or really all that often at all.</p>
        </div>
      </div>
      <div class="half background-green flex-container" id="washing">
        <img src="{{'Web_washing_white.svg' | asset_url}}" class="accent-image"/>
        <h3>If you do want to wash your Gekks, <span class="text-white">follow these instructions before washing and drying.</span></h3>
      </div>
    </section>
  <section class="index-padding" id="washing-instructions">
    <div class="flex-container jcs accent-padding">
      <img src="{{'washing01.jpg' | asset_url}}" class="accent-image"/>
      <h3 class="text-green">Peel slowly to smoothly remove your Gekks.</h3>
    </div>
    <div class="flex-container jcc accent-padding">
      <img src="{{'washing02.jpg' | asset_url}}" class="accent-image"/>
      <h3 class="text-green">Fold sticky pads onto themselves <br> protecting lint in the dryer.</h3>
    </div>
    <div class="flex-container jce accent-padding">
      <img src="{{'washing03.jpg' | asset_url}}" class="accent-image"/>
      <h3 class="text-green">Ready to be washed in cold water.</h3>
    </div>
  </section>
</main>
