<main id="extra-page">
    <div id="copied" class="tac" style="position: absolute; display: none;"><p class="subscript"><span>coupon copied</span></p></div>
  <section class="index-padding" style="padding-top: 60px !important;padding-bottom: 60px !important;">
    <h1 class="ttc tac nm">Happy Holidays</h1>
    <div class="flex-container accent-padding border-lightgray">
      <div class="third tac clickable" id="holiday10">
        <h2 class="text-green ttc nmb">$10 Off</h3>
        <p>on $40+ orders<br>code: Holiday10</p>
      </div>
      <div class="third tac clickable" id="holiday25">
        <h2 class="text-green ttc nmb">$25 Off</h3>
        <p>on $80+ orders<br>code: Holiday25</p>
      </div>
      <div class="third tac">
        <h2 class="text-green ttc nmb">$5.00 Off</h2>
        <p>on Women's Closet Packs<br> no coupon needed</p>
      </div>
    </div>
    <p class=" tac">Sign up to stay in the know,<br>and receive our best holiday deals!</p>
    <div class="klaviyo-form-MC9pTd" id="bfcm-embed"></div>
  </section>
</main>

<script>
  $('#holiday10').click(function() {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val("HOLIDAY10").select();
    document.execCommand("copy")
    $('#copied').slideUp().slideDown().delay(2000).slideUp(); 
  })
  $('#holiday25').click(function() {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val("HOLIDAY25").select();
    document.execCommand("copy")
    $('#copied').slideUp().slideDown().delay(2000).slideUp(); 
   
  })
  $(document).ready(function() {
    $('#banner-cta p').text("Holiday deals are here!")
  })
</script>
<style>
.index-padding {
  background-image: url("{{'Holiday_deals.gif' | asset_url}}");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.index-padding h1 { padding-top: 30%; }
@media only screen and (max-width: 799px) {
  .third { width: 100%; }
}
</style>