<main id="extra-page">
  <section class="index-padding">
    <img src="{{'bfcm-signup.gif' | asset_url}}" alt="Sign Up to Receive Exclusive BFCM Deals" id="spooky-accent"/>
    <h2 class="tac nm">Coming Soon</h2>
    <h1 class="tac text-green nmt">Black Friday & <br>Cyber Monday Savings</h1>
<div class="klaviyo-form-MC9pTd" id="bfcm-embed"></div>
    <p class="nmt tac">Sign up for our biggest discounts ever,<br>announcements start on Black Friday!</p>
  </section>
</main>      

<script>
  $('document').ready(function() {
    setInterval(function() {
      $('#extra-page h1').toggleClass('text-green')
    }, 2000)
  });
</script>