    <main id="installation-page">	     
	    <section class="background-green tac page-header">
          <h1 class="nmb text-white">Use Gekks Like a Pro </h1>
          <h2 class="nmt">Installation Tips & Tricks</h2>
      	</section>
      	<section class="index-padding tac">
          <p><span class="text-green accent-word">Peel</span> the backing of Gekks in numbered<br>sequence to expose adhesive</p>
      	</section>
      	<section class="index-padding tac background-beige">
          <p><span class="text-green accent-word">Place</span> Gekks in shoes using the numbered sequence.</p>
          <p style="margin-top: 50px;"><span class="text-green accent-word">Gekks</span> are most effective when dedicated to one pair of shoes.</p>
          <div class="flex-container-no tac jcc">
            <img src="{{'email-heel.png' | asset_url}}" class="accent-image"/>
            <p>Avoid air gaps at heel corner</p>
          </div>
      </section>
      <section class="index-padding-to">
        <div class="instructions tac">
         	<p><span class="text-green accent-word">Press</span> and apply pressure for <span>15 seconds</span> while <br> massaging adhesive into shoe.</p>
        </div>
        <div class="flex-container-no tac jcc">
        	<img src="{{'Installation_Press.svg' | asset_url}}" class="accent-image"/>
        <p class="accent-padding">Adhesive is specifically designed to NOT leave a residue in your shoe!</p>
        </div>
      </section>
      <section class="index-padding">
        {{ page.content }}
      </section>
    </main> 