<main id="extra-page">
  <section class="index-padding">
    <img src="{{'candy.gif' | asset_url}}" alt="Sign Up to Receive Exclusive Spooky Deals" id="spooky-accent"/>
    <h2 class="tac nm">Coming Soon</h2>
    <h1 class="tac text-green nmt">Sweet Spooky <br> Savings</h1>
    <div class="klaviyo-form-QBAcbR" id="halloween-embed"></div>
  </section>
</main>      

<script>
  $('document').ready(function() {
    setInterval(function() {
      $('#extra-page h1').toggleClass('text-green')
    }, 2000)
  });
</script>