<main id="reviews">       
  <section class="background-green tac fw page-header">
  <h1 class="text-white nmb">Reviews</h1>
  <h2 class="nmt">2,913 4+ Star Reviews and Counting</h2>
  </section>
  <div class="reviews accent-section index-padding">
      {{ page.content }}
  </div>
</main>