{% layout 'theme.series' %} 
   

<main id="page" style="padding-top: 0 !important;">	     
	    <section class="content">
    	    <div class="wrap">
        	    <header>
                    <h1>{{ page.title }}</h1>
        	    </header>
        	    <div class="page">
<center><iframe src="https://player.vimeo.com/video/255677730" width="90%" height="500px" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
<form id="investor_signup" class="klaviyo_styling klaviyo_standard_embed_MEuyZU" style="max-width: 500px;" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate" action="//manage.kmail-lists.com/subscriptions/subscribe"><input type="hidden" name="g" value="MEuyZU" />
<div class="klaviyo_field_group"><label for="k_id_email" style="letter-spacing: normal; text-transform: none; text-align: center; margin-top: 25px;">Please submit your email to learn more<br class="do" /> about the investment offering</label></div>
<div class="klaviyo_field_group"><input type="email" value="" name="email" id="k_id_email" placeholder="Your email" /></div>
<div class="klaviyo_messages">
<div class="success_message" style="display: none;"></div>
<div class="error_message" style="display: none;"></div>
</div>
<div class="klaviyo_form_actions" style="text-align: center;"><button type="submit" class="klaviyo_submit_button" style="width: 100%;">Submit</button></div>
</form>
</center>
<style type="text/css">
.klaviyo_styling.klaviyo_standard_embed_MEuyZU label,
.klaviyo_condensed_styling.klaviyo_standard_embed_MEuyZU label {
  color:#222;
}.klaviyo_styling.klaviyo_standard_embed_MEuyZU input[type=text],
.klaviyo_styling.klaviyo_standard_embed_MEuyZU input[type=email],
.klaviyo_condensed_styling.klaviyo_standard_embed_MEuyZU input[type=text],
.klaviyo_condensed_styling.klaviyo_standard_embed_MEuyZU input[type=email] {
  border-radius: 2px;
}.klaviyo_styling.klaviyo_standard_embed_MEuyZU .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_standard_embed_MEuyZU .klaviyo_submit_button {
  background-color:#33FFCC;
  border-radius: 2px;
}.klaviyo_styling.klaviyo_standard_embed_MEuyZU .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_standard_embed_MEuyZU .klaviyo_submit_button:hover {
  background-color:#33FFCC;
}
  #someone-purchased{display: none !important; } 
header h1 { text-transform: none !important;}
  @media only screen and (max-width: 500px) {
    iframe { height: 300px !important; }
  }
  
  main>section:not(#hero)>div.wrap>header {
    padding-bottom: 25px;
}
</style>
 <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
 <script type="text/javascript">
KlaviyoSubscribe.attachToForms('#investor_signup', {
    hide_form_on_success: true,
     success_message: "Thank you! A representative will reach out shortly."

  });
</script>
              </div>
    	    </div>
	    </section>
    </main>