<main id="reviews">       
  <section class="background-green tac fw page-header">
  <h1 class="text-white">Reviews</h1>
  </section>
  <div class="reviews accent-section index-padding">
      {{ page.content }}
  </div>
</main>