    <main id="page">	     
	    <section class="background-green tac fw page-header">
          <h1 class="nmb text-white">Use Gekks Like a Pro </h1>
          <h2 class="nmt">Installation Tips & Tricks</h2>
      	</section>
      	<section class="index-padding tac">
          <p><span class="text-green accent-word">Peel</span> the backing of Gekks in numbered<br>sequence to expose adhesive</p>
      	</section>
      	<section class="index-padding tac background-beige">
          <p><span class="text-green accent-word">Place</span> Gekks in shoes using the numbered sequence.</p>
		  <div class="flex-container">
            <div class="tac half">
              <h2>Gekks are <span class="text-green">most<br>effective</span> when<br>dedicated to one<br>pair of shoes.</h2>
            </div>
            <div class="tac half">
              <img src="{{'Installation_airgaps.svg' | asset_url}}" class="accent-image" id="air-gaps"/>
              <h2>Avoid air gaps at<br>heel corner.</h2>
            </div>
          </div>
      </section>
      <section class="index-padding-to">
        <div class="instructions tac">
         	<p><span class="text-green accent-word">Press</span> and apply pleassure for 15 seconds while <br> massing adhesive into shoe.</p>
        </div>
        <div class="flex-container tac jcc">
        	<img src="{{'Installation_Press.svg' | asset_url}}" class="accent-image"/>
        <p>Adhesive is specifically designed to NOT leave a residue in your shoe!</p>
        </div>
      </section>
      <section class="index-padding">
        {{ page.content }}
      </section>
    </main>