
<main id="faq"> 
  <section class="background-green tac page-header">
    <h2 class="text-white nmb">We're Here to Answer Your</h2>
    <h2 class="nm">Frequently Asked Questions</h2>
    <br>
    <p class="text-white">Feel free to email us at <a href="mailto:gosockless@mygekks.com">gosockless@mygekks.com</a> as well!</p>
  </section>
  <div>
    <section>
      <h2 class="text-green">About Gekks</h2>
      <div class="q-and-a background-lightgray">
        <ul>
          <li><h3 class="text-green">How do Gekks stay in my shoe?</h3>
            <p class="answer-toggle accent-padding">Unlike any other no show sock, Gekks have a patented fastening system that grip Gekks to the inside of your shoes. Using a silicone based adhesive that is attached to the sock, Gekks lock in place at the heel, sole, and (depending on the style) the tongue of your shoes. You can then conveniently slip in and out barefoot, but get the comfort of a thin liner sock while walking around. 
              <br><br>As you slip into your shoes, the thin, breathable toe section will stretch and snugly fit to your toes. To remove Gekks from your shoes, simply peel the Gekks straight back. Gekks are thin enough that they do not alter the way your shoes feel if you desire to wear the shoes with regular high cut socks.</p></li>
          <li><h3 class="text-green">How do you control the sockless stench?</h3>
            <p class="answer-toggle accent-padding">We have built Gekks using 99.9% pure silver yarns, made by permanently bonding naturally antimicrobial silver metal to the surface of nylon fiber. This technology, also used by United States Special Forces and NASA to keep the skin clean and odor free on long missions, is permanently knitted into Gekks. It will not wash off or wear off like other antimicrobial coatings on the market. As the foot sweats, odor causing bacteria travels in the moisture of the sweat and eventually gases out that terrible sockless stench. However, with Gekks installed, when that bacterial filled moisture travels through the liner it is eliminated when it hits the silver yarn! So go sockless with confidence, Gekks will be working hard eliminating that bacteria as you're walking around!</p></li>
          <li><h3 class="text-green">How long do Gekks last?</h3>
            <p class="answer-toggle accent-padding">Much like your shoes, how long your Gekks last depends on how frequently you wear them. A general rule of thumb is that we design Gekks to last the lifetime of your shoe. When it's time for a new pair of shoes, it's also time for a new pair of Gekks.</p></li>
          <li><h3 class="text-green">What type of shoes can Gekks be worn with?</h3>
            <p class="answer-toggle accent-padding">Gekks can be worn with four types of shoes: women's & loafers and slip-ons, women's & men's sneakers and lace-ups, heels, and ballet flats. If you ever have questions about what pair you should order, check the style guide on the bottom of our product pages or shoot us a quick email. We'll be happy to help you find your perfect match.</p></li>
          <li><h3 class="text-green">What are Gekks made of?</h3>
            <p class="answer-toggle accent-padding">Gekks are made of nylon, polyester, and silver coated nylon. Gekks are vegan and made with recycled materials, you can learn more about the technology behind this <a href="/pages/how-it-works">here</a>. The exact break down depends on the style. Sneakers and Loafers are made of 39% nylon, 55% polyester, 6% silver coated nylon. Flats and Heels are made of 35% nylon, 60% polyester, 5% silver coated nylon. Our Gekks for Flats and Heels also have a fully seamless toe.</p></li>
          <li><h3 class="text-green">Are Gekks machine washable?</h3>
            <p class="answer-toggle accent-padding">Gekks are machine washable. Do not iron or bleach. While Gekks are machine washable you will not have to wash them often, if at all, because they are made with antimicrobial silver yarn to combat odor.</p></li>
          <li><h3 class="text-green">Can you transfer Gekks from shoe to shoe?</h3>
            <p class="answer-toggle accent-padding">Absolutely, Gekks are designed so that they can be transfered from shoe to shoe without losing their stick or leaving any residue behind. However, Gekks are most convenient and last the longest when dedicated to one pair of shoes.</li>
        </ul>
      </div>
    </section> 
    <section>
      <h2 class="text-green">About Shipping</h2>
      <div class="q-and-a background-lightgray">
        <ul>
          <li><h3 class="text-green">What shipping service do you use?</h3>
            <p class="answer-toggle accent-padding">We ship via UPS with a transfer to your local post office for the final leg of your delivery.</p></li>
          <li><h3 class="text-green">How long does shipping normally take?</h3>
            <p class="answer-toggle accent-padding">Shipping normally takes between 2 - 5 business days. If you feel that your order has been held up or delayed in processing, just email us! We are happy to get to the bottom of it for you and can resolve most shipping issues on your behalf.</p></li>
          <li><h3 class="text-green">Where can I check the status of my order?</h3>
            <p class="accent-padding answer-toggle">When you originally placed an order, you received an email that contains a confirmation link where you can get real time updates on the status of your order. If you have an account with us, you can easily keep track of this through your dashboard. If you need any help setting up an account or finding your order status, just email us! Someone will get back to you shortly.</p></li>
        </ul>
      </div>
    </section> 
    <section>
      <h2 class="text-green">About the Company</h2>
      <div class="q-and-a background-lightgray">
        <ul>
          <li><h3 class="text-green">Where is Gekks headquartered?</h3>
            <p class="answer-toggle accent-padding">We are located in and manufacture Gekks in Chicago, IL.</p></li>
          <li><h3 class="text-green">Can I place a wholesale order?</h3>
            <p class="answer-toggle accent-padding">We aren't currently taking in any new wholesale customers. If you would like us to reach out if this changes, email us with your information and a representative will be in touch. Thank you for your interest in Gekks!</p></li>
        </ul>
      </div>
    </section>
  </div>
</main>

<script>
  $('.text-green').on("click", function() {
    $(this).siblings().slideToggle(); 
  }); 
</script>